/* Basic styling for the website */

body {
    background-color: #f5f5dc;
    font-family: Georgia, 'Times New Roman', serif;
    color: #333333;
    line-height: 1.6;
    padding: 20px;
}

h1, h2, h3 {
    font-weight: bold;
    color: #2c1810;
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

h2 {
    font-size: 2em;
    margin: 15px 0;
}

h3 {
    font-size: 1.5em;
    margin: 12px 0;
}

p {
    margin: 15px 0;
}

img {
    height: 250px;
    width: 250px;
    border: 3px solid #8b4513;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #2c1810;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #8b4513;
}

footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #d2b48c;
    text-align: center;
    color: #2c1810;
}

.special {
    background-color: #b3fffa;
    margin: 0 0 10px 10px;
    padding: 10px 5px 20px 5px;
    border-left: 15px solid #fffa97;
    border-bottom: 10px solid #ffb9f4;
}

.highlight {
    background-color: #f2dcc2;
    margin: 0 10px 0 0;
    padding: 10px 5px 10px 5px;
    border-left: 3px solid #c99262;
    border-bottom: 12px solid #56391f;
    border-radius: 9px;
}

.special:hover {
    background-color: #fffa97;
    border-left: 15px solid #ffb9f4;
    border-bottom: 10px solid #b3fffa;
}

nav a:focus {
    outline: 3px solid #FFD700;
}

nav li:last-child {
    border: 4px dashed #7c8bff;
    border-radius: 75%;
    padding: 0 5px 5px 0;
}

nav li:last-child:hover {
    border: 4px solid #5e69bd;
}